body{
    max-width: 100%;
}

#SuccessLinear{
    background: linear-gradient(180deg, #E7B365 0%, #F9F9F9 27.93%);
}

@media only screen and (max-width: 668px){
    .disflex{
        display: flex;
    }
    .hidden{
        visibility: collapse;
        margin-left: -105px;
    }


    .hiddenImg{
        visibility: hidden;
    }
    /* .marginLeft{
        margin-left: -105px;
    } */
}

@media only screen and (min-width: 668px){
    .hiddenDate{
        visibility: hidden;
        margin-left: -35%;
    }
}